{{ form_start(form) }}
        {{ form_row(form.nombre) }}
        {{ form_row(form.nombrecompleto) }}
        {{ form_row(form.email) }}
        {{ form_row(form.fotoPerfilFile) }}
        {{ form_row(form.equipoFavorito) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
