<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Team HTML</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans:700,400%7CRaleway:400,800,900" rel="stylesheet" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="{{ asset('assets/css/library/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/dev-assets/preloader-default.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/dev-assets/demo-switcher.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css-min/soccer.min.css') }}" rel="stylesheet" type="text/css" />

</head>

<body>

	<div class="preloader-wrapper" id="preloader">
    <div class="motion-line dark-big"></div>
    <div class="motion-line yellow-big"></div>
    <div class="motion-line dark-small"></div>
    <div class="motion-line yellow-normal"></div>
    <div class="motion-line yellow-small1"></div>
    <div class="motion-line yellow-small2"></div>
</div>

    {% include 'pagina/partials/header.twig' %}

    <!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <ul class="breadcrumbs">
                            <li><a href="index-2.html">Home</a>/</li>
                            <li>Partidos</li>
                        </ul>
                        <h2>{{ partido.liga.nombre }}</h2>
                    </div>
                </div>
            </div>	
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->

    <div class="match-live-date">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><div class="date">25 Sep 2016 <span>by</span> Mason Carrington</div></div>
            <div class="col-md-6"><div class="event">Championship</div></div>
        </div>
    </div>
</div>

    <!--MACTH LIVE INFO BEGIN-->

    <div class="match-live-info-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        
<div class="match-live-info">
    <div class="title"> {# { partido.liga } #} </div>
    <div class="title"> {{ partido.fecha|date("d/m/Y") }} </div>
    <div class="match-info">
        <div class="team">
            <div class="avatar">
                <img src="{{ asset('assets/images/escudos/')}}{{ partido.equipoLocal.fotoPerfil }}" alt="team-logo"></div>
            <div class="text">
                {{ partido.EquipoLocal.nombre }}
            </div> 
        </div>
        <div class="score">
            {{ partido.golesLocal }} : {{ partido.golesVisitante }}</div>
        <div class="team right  wpb_animate_when_almost_visible wpb_flipInX flipInX wpb_start_animation animated">
            <div class="text">
                {{ partido.EquipoVisitante.nombre }}
            </div>
            <div class="avatar">
                <img src="{{ asset('assets/images/escudos/')}}{{ partido.equipoVisitante.fotoPerfil }}" alt="team-logo">   </div>
        </div>
    </div>
    <div class="title">
    </div>
</div>
                </div>
            </div>
        </div> 
    </div>

    <!--MACTH LIVE INFO END-->


    <!--LIVE MATCH STAT BEGIN-->

    <section class="live-match-stat">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="h3-tactic">Alineaciones</h3>
                    <div class="tactic football">
    <div class="tab-content">
        <div class="tab-pane active" id="football_pitch_top">
            <div class="field text-center">
                {% for jugador in jugadoresLocal %}
                    {% if jugador.dorsal == 7 %}
                    <a href="player-second-page.html" class="player top lf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                        <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 9 %}
                        <a href="player-second-page.html" class="player top cf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 17 %}
                        <a href="player-second-page.html" class="player top rf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 8 %}
                        <a href="player-second-page.html" class="player top lm  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 10 %}
                        <a href="player-second-page.html" class="player top rwb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 6 %}
                        <a href="player-second-page.html" class="player top cdm  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 2 %}
                        <a href="player-second-page.html" class="player top lb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 3 %}
                        <a href="player-second-page.html" class="player top lcb1  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 4 %}
                        <a href="player-second-page.html" class="player top rcb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 5 %}
                        <a href="player-second-page.html" class="player top rb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 1 %}
                        <a href="player-second-page.html" class="player top gk  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                {% endfor %}
                <img class="img-responsive center-block" src="{{ asset('assets/images/common/soccer-match-field.jpg')}}" alt="match-field">
            </div>
        </div>
        <div class="tab-pane" id="football_pitch_button">
            <div class="field text-center">
                {% for jugador in jugadoresVisitante %}
                    {% if jugador.dorsal == 1 %}
                        <a href="player-second-page.html" class="player bottom gk  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 4 %}
                        <a href="player-second-page.html" class="player bottom rcb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 3 %}
                        <a href="player-second-page.html" class="player bottom lcb1  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 9 %}
                        <a href="player-second-page.html" class="player bottom cf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 17 %}
                        <a href="player-second-page.html" class="player bottom rf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 7 %}
                        <a href="player-second-page.html" class="player bottom lf  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 8 %}
                        <a href="player-second-page.html" class="player bottom lm  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 6 %}
                        <a href="player-second-page.html" class="player bottom cdm  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 10 %}
                        <a href="player-second-page.html" class="player bottom rwb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 2 %}
                        <a href="player-second-page.html" class="player bottom lb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                    {% if jugador.dorsal == 5 %}
                        <a href="player-second-page.html" class="player bottom rb  " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ jugador.nombre }}">
                            <img width="56" height="56" src="{{ asset('assets/images/common/member-avatar.jpg')}}"  alt="player" >                           {{ jugador.dorsal }}                       </a>
                    {% endif %}
                {% endfor %}
                <img class="img-responsive center-block" src="{{ asset('assets/images/common/soccer-match-field.jpg')}}" alt="match-field">
            </div>
        </div>
    </div>
    <ul class="team-legend" role="tablist">
        <li class="active">
            <a href="#football_pitch_top" data-toggle="tab" aria-controls="football_pitch_top" aria-expanded="true">
                <div class="circle red"></div>{{ partido.EquipoLocal.nombre }}             </a>
        </li>
        <li class="">
            <a href="#football_pitch_button" data-toggle="tab" aria-controls="football_pitch_button" aria-expanded="false">
                <div class="circle black"></div>{{ partido.EquipoVisitante.nombre }}                </a>
        </li>
    </ul>
</div>

                    <div class="match-lineup">
    <div class="no-gutter">
        <div class="col-sm-6">
            <div class="head">
                <div class="name">{{ partido.EquipoLocal.nombre }}</div>
            </div>
            <div class="team-wrap">
                    {% for jugador in jugadoresLocal %}
                        {% if jugador.dorsal >= 1 and jugador.dorsal <=10 or jugador.dorsal == 17 %}
                            <div class="member">
                                <a href="../jugador/player.html.twig" class="avatar"><img src="{{ asset('assets/images/common/member-avatar.jpg')}}" alt="member-avatar"></a>
                                <div class="info">
                                    <div class="wrap">
                                        <a href="../jugador/player.html.twig" class="name">{{ jugador.nombre }}</a><br>
                                        <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                                        <div class="goal" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"><img src="{{ asset('assets/images/common/timeline-goal.jpg')}}" alt="timeline-goal"></div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="head">
                <div class="name right">{{ partido.EquipoVisitante.nombre }}</div>
            </div>
                <div class="team-wrap right">

                    {% for jugador in jugadoresVisitante %}
                        {% if jugador.dorsal >= 1 and jugador.dorsal <=10 or jugador.dorsal == 17 %}
                            <div class="member">
                                <div class="info">
                                    <div class="wrap">
                                        <a href="../jugador/player.html.twig" class="name">{{ jugador.nombre }}</a><br>
                                        <div class="card yellow" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"></div>
                                        <div class="goal" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’"><img src="{{ asset('assets/images/common/timeline-goal.jpg')}}" alt="timeline-goal"></div>
                                    </div>
                                </div>
                                <a href="../jugador/player.html.twig" class="avatar"><img src="{{ asset('assets/images/common/member-avatar.jpg')}}" alt="member-avatar"></a>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>					
    </div>
                    <h3>Entrenadores</h3>
                    
<div class="match-lineup">
    <div class="no-gutter">
        <div class="col-sm-6">
            <div class="team-wrap">	
                <div class="member">
                    <a href="../jugador/player.html.twig" class="avatar"><img src="{{ asset('assets/images/soccer/coach.png')}}" alt="member-avatar"></a>
                    <div class="info">
                        <div class="wrap">
                            <a href="../jugador/player.html.twig" class="name">{{ partido.EquipoLocal.entrenador }}</a>
                        </div>
                    </div>
                </div>
            </div>	
        </div>
        <div class="col-sm-6">
            <div class="team-wrap right">	
                <div class="member">
                    <div class="info">
                        <div class="wrap">
                            <a href="../jugador/player.html.twig" class="name">{{ partido.EquipoVisitante.entrenador }} </a>
                        </div>
                    </div>
                    <a href="../jugador/player.html.twig" class="avatar"><img src="{{ asset('assets/images/soccer/coach.png')}}" alt="member-avatar"></a>
                </div>
            </div>
        </div>
    </div>
</div>
                </div>		
                <div class="col-lg-6">
                    <h3>Estadisticas</h3>
                    
<div class="match-stat-table">
    <div class="item">
        <div class="name">Posesión</div>

        {% set posesionLocal = random(50, 75) %}
        {% set posesionVisitante = 100 - posesionLocal %}
        <div class="percent">{{ posesionLocal }}</div>
        <div class="percent right">{{ posesionVisitante }}</div>
        <div class="percent-bar">
            <div class="bar bar-1" ></div>
        </div>
    </div>
    <div class="item">
        <div class="name">Corners</div>
        <div class="percent">{{ random(1, 10) }}</div>
        <div class="percent right">{{ random(1, 10) }}</div>
        <div class="percent-bar">
            <div class="bar bar-2" ></div>
        </div>
    </div>
    <div class="item">
        <div class="name">Faltas</div>
        <div class="percent">{{ random(1, 15) }}</div>
        <div class="percent right">{{ random(1, 15) }}</div>
        <div class="percent-bar">
            <div class="bar bar-3" ></div>
        </div>
    </div>
    <div class="item">
        <div class="name">Fueras de juego</div>
        <div class="percent">{{ random(1, 5) }}</div>
        <div class="percent right">{{ random(1, 5) }}</div>
        <div class="percent-bar">
            <div class="bar bar-4" ></div>
        </div>
    </div>
</div>

                    <h3>Estadio</h3>
                    <div class="arena">
    <div class="img-wrap">
        <img src="{{ asset('assets/images/estadios/')}}{{ partido.equipoLocal.estadio.fotoEstadio }}" width="300px" height="200px" alt="arena-img">
    </div>
    <div class="arena-info">
        <div class="name">{{ partido.estadio.nombre }} ({{ partido.estadio.ciudad }})</div>
        <div class="date">Fecha: {{ partido.fecha|date("d/m/Y") }}</div>
    </div>
</div>

                    <h3>Árbitros</h3>
                    
<div class="match-lineup">
    <div class="team-wrap">	
        <div class="member">
            <a href="../jugador/player.html.twig" class="avatar"><img src="{{ asset('assets/images/arbitros/Collina.jpg')}}" alt="member-avata"></a>
            <div class="info">
                <div class="wrap">
                    <a href="../jugador/player.html.twig" class="name">Pierluigi Collina</a>
                </div>
                <div class="country">Italia</div>
            </div>
        </div>
    </div>
    <div class="no-gutter">
        <div class="col-md-6">
            <div class="team-wrap">	
                <div class="member">
                    <a href="../jugador/player.html.twig" class="avatar"><img src="{{ asset('assets/images/arbitros/HowardWebb.jpg')}}" alt="member-avatar"></a>
                    <div class="info">
                        <div class="wrap">
                            <a href="../jugador/player.html.twig" class="name">Howard Webb</a>
                        </div>
                        <div class="country">Reino Unido</div>
                    </div>
                </div>
            </div>	
        </div>
        <div class="col-md-6">
            <div class="team-wrap">	
                <div class="member">
                    <a href="../jugador/player.html.twig" class="avatar"><img src="{{ asset('assets/images/arbitros/MarkClattenburg.jpg')}}" alt="member-avatar"></a>
                    <div class="info">
                        <div class="wrap">
                            <a href="../jugador/player.html.twig" class="name">Mark Clattenburg</a>
                        </div>
                        <div class="country">Reino Unido</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                    <h3>Resumen</h3>
                    <div class="live-details">
                        {% if partido.golesLocal != partido.golesVisitante %}
                        Partido de la <b>{{ partido.jornada.jornada }}</b> disputado entre <b>{{ partido.equipoLocal.nombre }}</b> y <b>{{ partido.equipoVisitante.nombre }}</b> en el
                        estadio <b>{{ partido.estadio.nombre }}</b> de <b>{{ partido.estadio.ciudad }}</b> dónde los
                            {% if partido.golesLocal > partido.golesVisitante %}
                            locales
                            {% endif %}
                            {% if partido.golesLocal < partido.golesVisitante %}
                            visitantes
                            {% endif %}
                        se llevarón la victoria por <b>{{ partido.golesLocal }} - {{ partido.golesVisitante }}</b>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>	
    </section>

    <!--LIVE MATCH STAT END-->


    <!--SHARE BOX BEGIN-->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="share-box">
    <div class="item">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="title">SHARE THIS MATCH</div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 text-right">
                    <ul class="share-socials  wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight wpb_start_animation animated">

                    <!-- Digg -->

                        <li class="digg">
                            <a href="http://www.digg.com/">
                                <i class="fa fa-digg" aria-hidden="true"></i>
                            </a>
                        </li>

                    <!-- Facebook -->

                        <li class="facebook">
                            <a href="http://www.facebook.com/">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                        </li>

                    <!-- Google+ -->

                        <li class="google">
                            <a href="https://plus.google.com/">
                                <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                            </a>
                        </li>

                    <!-- LinkedIn -->

                        <li class="linkedin">
                            <a href="http://www.linkedin.com/">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                        </li>

                    <!-- Pinterest -->

                        <li class="pinterest">
                            <a href="http://assets.pinterest.com/">
                                <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                            </a>
                        </li>

                    <!-- Reddit -->

                        <li class="reddit">
                            <a href="http://reddit.com/">
                                <i class="fa fa-reddit-square" aria-hidden="true"></i>
                            </a>
                        </li>

                    <!-- StumbleUpon-->

                        <li class="StumbleUpon">
                            <a href="http://www.stumbleupon.com/">
                                <i class="fa fa-stumbleupon-circle" aria-hidden="true"></i>
                            </a>
                        </li>

                    <!-- Tumblr-->

                        <li class="tumbler">
                            <a href="http://www.tumblr.com/">
                                <i class="fa fa-tumblr-square" aria-hidden="true"></i>
                            </a>
                        </li>

                    <!-- Twitter -->

                        <li class="twitter">
                            <a href="https://twitter.com/">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                        </li>


                    <!-- VK -->

                        <li class="vk">
                            <a href="http://vkontakte.ru/">
                                <i class="fa fa-vk" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
            </div>
        </div>
    </div>

    <!--SHARE BOX END-->

    {% include 'pagina/partials/footer.twig' %}

    <script type="text/javascript" src="{{ asset('assets/js/library/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/jquery.sticky.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/jquery.jcarousel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/jcarousel.connected-carousels.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/owl.carousel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/progressbar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/jquery.bracket.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/chartist.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/Chart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/fancySelect.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/isotope.pkgd.js') }}"></script>
    <script type="text/javascript" src=" {{ asset('assets/js/library/imagesloaded.pkgd.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/jquery.team-coundown.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/matches-slider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/header.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/matches_broadcast_listing.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/news-line.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/match_galery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/main-club-gallery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/product-slider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/circle-bar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/standings.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/shop-price-filter.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/timeseries.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/radar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/slider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/preloader.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/diagram.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/bi-polar-diagram.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/label-placement-diagram.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/donut-chart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/animate-donut.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/advanced-smil.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/svg-path.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/pick-circle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/horizontal-bar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/gauge-chart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/stacked-bar.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/library/chartist-plugin-legend.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/chartist-plugin-threshold.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/chartist-plugin-pointlabels.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/treshold.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/visible.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/anchor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/landing_carousel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/landing_sport_standings.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/twitterslider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/champions.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/landing_mainnews_slider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/carousel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/video_slider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/footer_slides.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/player_test.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>

    <script type="text/javascript" src="{{ asset('dev-assets/demo-switcher.js') }}"></script>
</body>


</html>
