<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ equipo.nombre }}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans:700,400%7CRaleway:400,800,900" rel="stylesheet" />
    <link rel="icon" href="{{ asset('assets/images/escudos/')}}{{ equipo.fotoPerfil }}" type="image/x-icon">
    <link href="{{ asset('assets/css/library/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/dev-assets/preloader-default.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/dev-assets/demo-switcher.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css-min/soccer.min.css') }}" rel="stylesheet" type="text/css" />

</head>

<body>

	<div class="preloader-wrapper" id="preloader">
    <div class="motion-line dark-big"></div>
    <div class="motion-line yellow-big"></div>
    <div class="motion-line dark-small"></div>
    <div class="motion-line yellow-normal"></div>
    <div class="motion-line yellow-small1"></div>
    <div class="motion-line yellow-small2"></div>
</div>
    {% include 'pagina/partials/header.twig' %}


    <!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <ul class="breadcrumbs">
                            <li><a href="{{ path('homepage') }}">Home</a>/</li>
                            <li>Equipos</li>
                        </ul>
                        <h1>{{ equipo.nombre }}</h1>
                    </div>
                </div>
            </div>	
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->

    <!--IMAGE HEADER END-->

    <!--CLUB WRAP BEGIN-->


    <section class="club-wrap">
        <div class="container">
            <div class="row row-eq-height">
                <div class="col-md-9 col-sm-9 col-xs-9">
                    <h4>{{ equipo.nombre }}</h4>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <a href="{{ path('equipos_byId', {id: equipo.Id}) }}" class="btn small club-top-btn">Jugadores</a>
                </div>
                {% if app.user is not empty %}
                    {% if app.user.equipoFavorito is empty or app.user.equipoFavorito.id != equipo.id%}
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <a href="{{ path('follow_team', {id_team: equipo.Id, id_user: app.user.Id}) }}" onclick="return confirm('Estas seguro?')" class="btn small club-top-btn">Seguir</a>
                        </div>
                    {% elseif app.user.equipoFavorito.id == equipo.Id %}
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <a href="{{ path('unfollow_team', {id_user: app.user.Id}) }}" class="btn small club-top-btn">Dejar de seguir</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="club-top-info">
            <div class="organisation-header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="club-logo  wpb_animate_when_almost_visible wpb_zoomInLeft zoomInLeft wpb_start_animation animated">
                    <br>
                    <br>
                    <img class="img-responsive" src="{{ asset('assets/images/escudos/')}}{{ equipo.fotoPerfil }}" alt="organisation logo" height="300" width="300" >
                </div>
            </div>
            <div class="col-md-3">
                <div class="org-club-info">
                    <div class="title">Información</div><br>
                    <div class="item"><span>Fundacion:</span> {{ equipo.fundacion }}</div>
                    <div class="item"><span>Campo:</span> {{ equipo.estadio.nombre }}</div>
                    <div class="item"><span>Ciudad:</span> {{ equipo.estadio.ciudad }}</div>
                    <div class="item"><span>Trofeos:</span> {{ equipo.trofeos }}</div>
                    <div class="item"><span>Entrenador:</span> {{ equipo.entrenador }}</div>
                    <div class="item"><span>Región:</span> {{ equipo.region }}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="org-club-stat">
                    <div class="title">Estadio</div>
                    <div class="item">{{ equipo.estadio.nombre }}</div><br>
                    <img src="{{ asset('assets/images/estadios/')}}{{ equipo.estadio.fotoEstadio }}" width="300px" height="200px" alt="arena-img">
                </div>
            </div>
            <div class="col-md-4">
                <div class="org-club-stat">
                    <div class="title">Estadisticas</div>
                    <div class="circle-item">
                        <div class="circle-bar" id="circle_3" data-percent="{{ ganados.ganados*100/numeroJornadas[1] }}"></div>
                        <div class="text">Ganados </div>
                    </div>
                    <div class="circle-item">
                        <div class="circle-bar" id="circle_4" data-percent="{{ perdidos.perdidos*100/numeroJornadas[1] }}"></div>
                        <div class="text">Perdidos </div>
                    </div>

                </div>
                <br>
                <br>
            </div>
        </div>
    </div>	
</div>
        </div>
    </section>

    <!--CLUB WRAP END-->

    <!--CLUB MAIN STAT BEGIN-->
<section class="club-main-stat">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h6>Ultimo partido</h6>
                <div class="last-match">
                    <div class="team">
                        <a href="{{ path('equipo_show', {id: ultimoPartido[0].equipoLocal.Id}) }}"><img src="{{ asset('assets/images/escudos/')}}{{ ultimoPartido[0].equipoLocal.fotoPerfil }}" width="40" height="50" alt="team-logo"></a>
                        <a href="{{ path('equipo_show', {id: ultimoPartido[0].equipoLocal.Id}) }}" class="name">{{ ultimoPartido[0].equipoLocal.nombre }}</a>
                    </div>
                    <div class="score"><span>2</span>:<span>0</span></div>
                    <div class="team right">
                        <a href="{{ path('equipo_show', {id: ultimoPartido[0].equipoVisitante.Id}) }}" class="name">{{ ultimoPartido[0].equipoVisitante.nombre }}</a>
                        <a href="{{ path('equipo_show', {id: ultimoPartido[0].equipoVisitante.Id}) }}"><img src="{{ asset('assets/images/escudos/')}}{{ ultimoPartido[0].equipoVisitante.fotoPerfil }}" width="40" height="50" alt="team-logo"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6">
                    <h6>Goleadores</h6>
                    <table style="width: 280px">
                        <tr>
                            <th>Jugador</th>
                            <th>Goles</th>
                            <th>Posicion</th>
                        </tr>
                        {% for jugador in goleadores %}
                            <tr>
                                <td>{{ jugador.nombre }}</td>
                                <td>{{ jugador.goles }}</td>
                                <td>{{ jugador.posicion.nombre }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CLUB MAIN STAT END-->

    {% include 'pagina/partials/footer.twig' %}

    <script type="text/javascript" src="{{ asset('assets/js/library/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/jquery.sticky.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/jquery.jcarousel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/jcarousel.connected-carousels.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/owl.carousel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/progressbar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/jquery.bracket.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/chartist.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/Chart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/fancySelect.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/isotope.pkgd.js') }}"></script>
    <script type="text/javascript" src=" {{ asset('assets/js/library/imagesloaded.pkgd.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/jquery.team-coundown.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/matches-slider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/header.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/matches_broadcast_listing.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/news-line.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/match_galery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/main-club-gallery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/product-slider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/circle-bar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/standings.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/shop-price-filter.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/timeseries.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/radar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/slider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/preloader.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/diagram.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/bi-polar-diagram.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/label-placement-diagram.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/donut-chart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/animate-donut.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/advanced-smil.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/svg-path.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/pick-circle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/horizontal-bar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/gauge-chart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/stacked-bar.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/library/chartist-plugin-legend.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/chartist-plugin-threshold.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/chartist-plugin-pointlabels.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/treshold.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/visible.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/anchor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/landing_carousel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/landing_sport_standings.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/twitterslider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/champions.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/landing_mainnews_slider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/carousel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/video_slider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/footer_slides.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/player_test.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>

    <script type="text/javascript" src="{{ asset('dev-assets/demo-switcher.js') }}"></script>
</body>


</html>
