<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Team HTML</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans:700,400%7CRaleway:400,800,900" rel="stylesheet" />
    <link rel="icon" href="../pagina/favicon.ico" type="image/x-icon">
    <link href="{{ asset('assets/css/library/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/dev-assets/preloader-default.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/dev-assets/demo-switcher.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css-min/soccer.min.css') }}" rel="stylesheet" type="text/css" />

</head>

<body>

	<div class="preloader-wrapper" id="preloader">
    <div class="motion-line dark-big"></div>
    <div class="motion-line yellow-big"></div>
    <div class="motion-line dark-small"></div>
    <div class="motion-line yellow-normal"></div>
    <div class="motion-line yellow-small1"></div>
    <div class="motion-line yellow-small2"></div>
</div>

    {% include 'pagina/partials/header.twig' %}

    <!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <ul class="breadcrumbs">
                            <li><a href="index-2.html">Home</a>/</li>
                            <li>Category</li>
                        </ul>
                        <h1>Category</h1>
                    </div>
                </div>
            </div>	
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->


    <!--PLAYER SINGLE WRAP BEGIN-->

    <section class="player-single-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="captain-bage">Captain</div>
                    <h4 class="player-name">{{ jugador.nombre }}</h4>
                </div>
                <div class="col-md-6">
                    
<div class="player-photo">

    <div class="number">{{ jugador.dorsal }}</div>
    <img class="img-responsive" src="{{ asset('assets/images/soccer/single-player-photo.png') }}" alt="player">
</div>
                </div>
                <div class="col-md-6">
                    <div class="player-info">
                        <h6 class="player-info-title">Datos</h6>
                        <div class="summary">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="item">Equipo:</div>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">{{ jugador.equipo.nombre }}</div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="item">Posicion:</div>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">{{ jugador.posicion.nombre }}</div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="goal" data-toggle="tooltip" data-placement="top" title="" data-original-title="32’">Goles <img src="{{ asset('assets/images/common/timeline-goal.jpg')}}" alt="timeline-goal"></div>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">{{ jugador.goles }}</div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="item">Amarillas:</div>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">{{ jugador.amarillas }}</div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="item">Rojas:</div>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">{{ jugador.rojas }}</div>
                            </div>
                        </div>
                        <h6>club history</h6>
                        <div class="overflow-scroll">
                            <table>
                                <tr>
                                    <th>Season</th>
                                    <th class="club">Club</th>
                                    <th>Games</th>
                                    <th>Goals</th>
                                </tr>
                                <tr>
                                    <td>2016/2017</td>
                                    <td class="club"><img src="images/soccer/team-logo1.png" width="30" height="30" alt="trophy"> Internacional</td>
                                    <td>27</td>
                                    <td><span>10</span></td>
                                </tr>
                                <tr>
                                    <td>2016/2017</td>
                                    <td class="club"><img src="images/soccer/team-logo2.png" width="30" height="30" alt="trophy"> Internacional</td>
                                    <td>27</td>
                                    <td><span>10</span></td>
                                </tr>
                            </table>
                        </div>
                        <h6>Resumen</h6>
                        <p><b>{{ jugador.nombre }}</b> es <b>{{ jugador.posicion.nombre }}</b> en el equipo <b>{{ jugador.equipo.nombre }} </b>en <b>{{ jugador.equipo.liga.nombre }}</b></p>
                        <h6>Trophies</h6>
                        <ul class="player-trophey">
                            <li>
                                <img src="images/common/am-trophey1.png" width="100" height="150" alt="trophy">
                                <div class="year">2012</div>
                            </li>
                            <li>
                                <img src="images/common/am-trophey.png" width="100" height="150" alt="trophy">
                                <div class="year">2015</div>
                            </li>
                            <li>
                                <img src="images/common/am-trophey2.png" width="100" height="150" alt="trophy">
                                <div class="year">2017</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <p>Pabst irony tattooed, synth sriracha selvage pok pok. Wayfarers kinfolk sartorial, helvetica you probably haven't heard of them tumeric venmo deep v mixtape semiotics brunch.</p>
                </div>
            </div>
        </div>
    </section>

    <!--PLAYER SINGLE WRAP END-->

    <!--MAIN CLUB STAFF BEGIN-->

    <!--MAIN CLUB STAFF BEGIN-->
<section class="main-club-stuff">    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="soccer-h4">club stuff</h4>  
                <ul class="player-filters" role="tablist">
                    <li class="active">
                        <a href="#managers" role="tab" data-toggle="tab">
                            Managers                  
                        </a>
                    </li>
                    <li>
                        <a href="#firstteam" role="tab" data-toggle="tab">
                            First team
                        </a>
                    </li>
                    <li>
                        <a href="#academy" role="tab" data-toggle="tab">
                            Academy
                        </a>
                    </li>                  
                </ul>
            </div>
        </div>
    </div>           

    <div class="tab-content">
        <div class="tab-pane active" id="managers" role="tabpanel">
            <div id="managers_carousel" class="carousel slide main-stuff-slider" data-ride="carousel" >
                <div class="carousel-inner" role="listbox" >
                    <div class="item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="index.html.twig">
                                            <span class="info">
                                                <span class="name">Lucas<br>Marshman</span>
                                                <span class="position">Left Forward</span>
                                                <span class="number">14</span>
                                            </span>
                                            <img src="images/soccer/stuff-person.jpg"  alt="person-slider">
                                        </a>	
                                    </div>
                                </div>                    
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="index.html.twig">
                                            <span class="info">
                                                <span class="name">Lucas<br>Marshman</span>
                                                <span class="position">Left Midfielder</span>
                                                <span class="number">8</span>
                                            </span>
                                            <img src="images/soccer/player-2.jpg"  alt="person-slider">
                                        </a>	
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="staff-item">
                                        <a href="index.html.twig">
                                            <span class="info">
                                                <span class="name">Lucas<br>Marshman</span>
                                                <span class="position">Central Attacking Midfielder</span>
                                                <span class="number">7</span>
                                            </span>
                                            <img src="images/soccer/player-3.jpg"  alt="person-slider">
                                        </a>	
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="index.html.twig">
                                            <span class="info">
                                                <span class="name">Lucas<br>Marshman</span>
                                                <span class="position">Left Forward</span>
                                                <span class="number">14</span>
                                            </span>
                                            <img src="images/soccer/player-3.jpg"  alt="person-slider">
                                        </a>	
                                    </div>
                                </div>                    
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="index.html.twig">
                                            <span class="info">
                                                <span class="name">Lucas<br>Marshman</span>
                                                <span class="position">Left Midfielder</span>
                                                <span class="number">8</span>
                                            </span>
                                            <img src="images/soccer/player-2.jpg"  alt="person-slider">
                                        </a>	
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="staff-item">
                                        <a href="index.html.twig">
                                            <span class="info">
                                                <span class="name">Lucas<br>Marshman</span>
                                                <span class="position">Central Attacking Midfielder</span>
                                                <span class="number">7</span>
                                            </span>
                                            <img src="images/soccer/stuff-person.jpg"  alt="person-slider">
                                        </a>	
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="nav-arrow left-arrow" href="#managers_carousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only"></span>
                    </a>
                    <a class="nav-arrow right-arrow" href="#managers_carousel" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="academy" role="tabpanel">
            <div id="academy_carousel" class="carousel slide main-stuff-slider" data-ride="carousel" >
                <div class="carousel-inner" role="listbox" >
                    <div class="item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="index.html.twig">
                                            <span class="info">
                                                <span class="name">Vito<br>Palet</span>
                                                <span class="position">Left Forward</span>
                                                <span class="number">14</span>
                                            </span>
                                            <img src="images/soccer/player-2.jpg"  alt="person-slider">
                                        </a>	
                                    </div>
                                </div>                    
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="index.html.twig">
                                            <span class="info">
                                                <span class="name">Lucas<br>Melet</span>
                                                <span class="position">Left Midfielder</span>
                                                <span class="number">8</span>
                                            </span>
                                            <img src="images/soccer/stuff-person.jpg"  alt="person-slider">
                                        </a>	
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="staff-item">
                                        <a href="index.html.twig">
                                            <span class="info">
                                                <span class="name">Lucas<br>Marse</span>
                                                <span class="position">Central Attacking Midfielder</span>
                                                <span class="number">7</span>
                                            </span>
                                            <img src="images/soccer/player-3.jpg"  alt="person-slider">
                                        </a>	
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="index.html.twig">
                                            <span class="info">
                                                <span class="name">Lucas<br>Marsan</span>
                                                <span class="position">Left Forward</span>
                                                <span class="number">14</span>
                                            </span>
                                            <img src="images/soccer/player-3.jpg"  alt="person-slider">
                                        </a>	
                                    </div>
                                </div>                    
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="index.html.twig">
                                            <span class="info">
                                                <span class="name">Luscas<br>Mars</span>
                                                <span class="position">Left Midfielder</span>
                                                <span class="number">8</span>
                                            </span>
                                            <img src="images/soccer/player-2.jpg"  alt="person-slider">
                                        </a>	
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="staff-item">
                                        <a href="index.html.twig">
                                            <span class="info">
                                                <span class="name">Lucas<br>Mafo</span>
                                                <span class="position">Central Attacking Midfielder</span>
                                                <span class="number">7</span>
                                            </span>
                                            <img src="images/soccer/stuff-person.jpg"  alt="person-slider">
                                        </a>	
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="nav-arrow left-arrow" href="#academy_carousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only"></span>
                    </a>
                    <a class="nav-arrow right-arrow" href="#academy_carousel" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="firstteam" role="tabpanel">
            <div id="firstteam_carousel" class="carousel slide main-stuff-slider" data-ride="carousel" >
                <div class="carousel-inner" role="listbox" >
                    <div class="item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="index.html.twig">
                                            <span class="info">
                                                <span class="name">James<br>Deshon</span>
                                                <span class="position">Left Forward</span>
                                                <span class="number">14</span>
                                            </span>
                                            <img src="images/soccer/stuff-person.jpg"  alt="person-slider">
                                        </a>	
                                    </div>
                                </div>                    
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="index.html.twig">
                                            <span class="info">
                                                <span class="name">Deshon<br>James</span>
                                                <span class="position">Left Midfielder</span>
                                                <span class="number">8</span>
                                            </span>
                                            <img src="images/soccer/stuff-person.jpg"  alt="person-slider">
                                        </a>	
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="staff-item">
                                        <a href="index.html.twig">
                                            <span class="info">
                                                <span class="name">James<br>Deshon</span>
                                                <span class="position">Central Attacking Midfielder</span>
                                                <span class="number">7</span>
                                            </span>
                                            <img src="images/soccer/player-3.jpg"  alt="person-slider">
                                        </a>	
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="index.html.twig">
                                            <span class="info">
                                                <span class="name">Lucas<br>Marsh</span>
                                                <span class="position">Left Forward</span>
                                                <span class="number">14</span>
                                            </span>
                                            <img src="images/soccer/player-3.jpg"  alt="person-slider">
                                        </a>	
                                    </div>
                                </div>                    
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="index.html.twig">
                                            <span class="info">
                                                <span class="name">Luca<br>Mas</span>
                                                <span class="position">Left Midfielder</span>
                                                <span class="number">8</span>
                                            </span>
                                            <img src="images/soccer/player-2.jpg"  alt="person-slider">
                                        </a>	
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="staff-item">
                                        <a href="index.html.twig">
                                            <span class="info">
                                                <span class="name">Lucasoto<br>Marsh</span>
                                                <span class="position">Central Attacking Midfielder</span>
                                                <span class="number">7</span>
                                            </span>
                                            <img src="images/soccer/stuff-person.jpg"  alt="person-slider">
                                        </a>	
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="nav-arrow left-arrow" href="#firstteam_carousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only"></span>
                    </a>
                    <a class="nav-arrow right-arrow" href="#firstteam_carousel" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--MAIN CLUB STAFF END-->

    <!--MAIN CLUB STAFF END-->

    <!--STANDING CUP END-->



    <!--FOOTER BEGIN-->
<footer class="footer">
    <div class="wrapper-overfllow">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="footer-left">
                        <div class="wrap">
                            <a href="index-2.html" class="foot-logo"><img src="images/soccer/footer-logo.png" alt="footer-logo"></a>
                            <p>Activated charcoal trust fund ugh prism af, beard marfa air plant stumptown gastropub farm-to-table jianbing.</p>
                            <ul class="foot-left-menu">
                                <li><a href="index.html.twig">First team</a></li>
                                <li><a href="index.html.twig">Second team</a></li>
                                <li><a href="../pagina/amateurs.html.twig">Amateurs</a></li>
                                <li><a href="donations.html">Donation</a></li>
                                <li><a href="../pagina/trophies.html">trophies</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-lg-offset-1">
                    <div class="foot-news">
                        <h4>Recent news</h4>
                        <div class="item">
                            <a href="../noticia/index.html.twig" class="image"><img class="img-responsive" src="images/soccer/foot-news-img.jpg" alt="news-image"></a>
                            <a href="../noticia/index.html.twig" class="name">When somersaulting Sanchez shouldered Mexico’s hopes</a>
                            <a href="../noticia/index.html.twig" class="date">25 Sep 2016</a>
                            <span class="separator">in</span>
                            <a href="../noticia/index.html.twig" class="category">Highlights</a>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-4 col-sm-12">
                    <div class="foot-contact">
                        <h4>Contact us</h4>
                        <ul class="contact-list">
                            <li><i class="fa fa-flag" aria-hidden="true"></i><span>276 Upper Parliament Street, Liverpool L8, Great Britain</span></li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:team@email.com">team@email.com</a></li>
                            <li class="phone"><i class="fa fa-phone" aria-hidden="true"></i><span>+61 3 8376 6284</span></li>
                        </ul>
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-menu-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="footer-menu">
                        <li class="active"><a href="index-2.html"><span>Home</span></a></li>
                        <li><a href="../pagina/matches.html.twig"><span>Matches</span></a></li>
                        <li><a href="index.html.twig"><span>Team</span></a></li>
                        <li><a href="../noticia/index.html.twig"><span>News</span></a></li>
                        <li><a href="store.html"><span>Store</span></a></li>
                        <li><a href="../contact/contacts.html.twig"><span>Contact</span></a></li>
                    </ul>	
                    <a href="#top" class="foot-up"><span>up <i class="fa fa-caret-up" aria-hidden="true"></i></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="copyrights">
                        <a target="_blank" href="https://www.templateshub.net">Templates Hub</a>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="created">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--FOOTER END-->



    <script type="text/javascript" src="{{ asset('assets/js/library/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/jquery.sticky.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/jquery.jcarousel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/jcarousel.connected-carousels.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/owl.carousel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/progressbar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/jquery.bracket.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/chartist.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/Chart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/fancySelect.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/isotope.pkgd.js') }}"></script>
    <script type="text/javascript" src=" {{ asset('assets/js/library/imagesloaded.pkgd.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/jquery.team-coundown.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/matches-slider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/header.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/matches_broadcast_listing.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/news-line.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/match_galery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/main-club-gallery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/product-slider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/circle-bar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/standings.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/shop-price-filter.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/timeseries.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/radar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/slider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/preloader.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/diagram.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/bi-polar-diagram.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/label-placement-diagram.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/donut-chart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/animate-donut.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/advanced-smil.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/svg-path.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/pick-circle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/horizontal-bar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/gauge-chart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/stacked-bar.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/library/chartist-plugin-legend.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/chartist-plugin-threshold.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/library/chartist-plugin-pointlabels.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/treshold.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/visible.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/anchor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/landing_carousel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/landing_sport_standings.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/twitterslider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/champions.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/landing_mainnews_slider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/carousel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/video_slider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/footer_slides.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/player_test.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>

    <script type="text/javascript" src="{{ asset('dev-assets/demo-switcher.js') }}"></script>
</body>


</html>
