{% extends 'base.html.twig' %}

{% block title %}Jugador{% endblock %}

{% block body %}
    <h1>Jugador</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jugador.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ jugador.nombre }}</td>
            </tr>
            <tr>
                <th>Goles</th>
                <td>{{ jugador.goles }}</td>
            </tr>
            <tr>
                <th>Amarillas</th>
                <td>{{ jugador.amarillas }}</td>
            </tr>
            <tr>
                <th>Rojas</th>
                <td>{{ jugador.rojas }}</td>
            </tr>
            <tr>
                <th>Dorsal</th>
                <td>{{ jugador.dorsal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('jugador_index') }}">back to list</a>

    <a href="{{ path('jugador_edit', {'id': jugador.id}) }}">edit</a>

    {{ include('jugador/_delete_form.html.twig') }}
{% endblock %}
