<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Clasificacion</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans:700,400%7CRaleway:400,800,900" rel="stylesheet" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="{{ asset('assets/css/library/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/dev-assets/preloader-default.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/dev-assets/demo-switcher.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css-min/soccer.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css-min/soccer.min.css') }}" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="preloader-wrapper" id="preloader">
    <div class="motion-line dark-big"></div>
    <div class="motion-line yellow-big"></div>
    <div class="motion-line dark-small"></div>
    <div class="motion-line yellow-normal"></div>
    <div class="motion-line yellow-small1"></div>
    <div class="motion-line yellow-small2"></div>
</div>


{% include 'pagina/partials/header.twig' %}


<!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <ul class="breadcrumbs">
                            <li><a href="{{ path('homepage') }}">Home</a>/</li>
                            <li>Clasificaciones</li>
                        </ul>
                        <h1>Liga</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->

<!--STANDING TABLE WRAP BEGIN-->


<section class="standing-table-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h4>Primera Regional Grupo 6</h4>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 overflow-scroll standings-table">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="2017" role="tabpanel">
                        <table class="standing-full">
                            <tr>
                                <th>Equipo</th>
                                <th>J</th>
                                <th>G</th>
                                <th>E</th>
                                <th>P</th>
                                <th>G.F</th>
                                <th>G.C</th>
                                <th>Diferencia</th>
                                <th>Puntos</th>
                                <th>Acciones</th>
                            </tr>
                            {% set pos = 0 %}
                            {% for equipoClas in clasificacion %}
                                {% set pos = pos+1 %}
                                <tr>
                                    {% if (pos == 1) or (pos == 2) or (pos == 3) %}
                                    <td class="up">
                                        <i class="fa fa-caret-up" aria-hidden="true"></i> {{ pos }} <span class="team">
                                        {% elseif (pos == 14) or (pos == 15) or (pos == 16) %}
                                    <td class="down">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i> {{ pos }} <span class="team">
                                        {% else %}
                                    <td>
                                        <i class="fa fa-caret-right" aria-hidden="true"></i> {{ pos }} <span class="team">
                                        {% endif %}
                                            <img src="{{ asset('assets/images/escudos/')}}{{ equipoClas.equipo.fotoPerfil }}" width="30" height="30" alt="team-logo">
                                        </span>{{ equipoClas.equipo.nombre }}
                                    </td>
                                    <td>{{ equipoClas.jugados }}</td>
                                    <td>{{ equipoClas.ganados }}</td>
                                    <td>{{ equipoClas.empatados }}</td>
                                    <td>{{ equipoClas.perdidos }}</td>
                                    <td>{{ equipoClas.golesFavor }}</td>
                                    <td>{{ equipoClas.golesContra }}</td>
                                    <td>{{ equipoClas.golesDiferencia }}</td>
                                    <td class="points"><span>{{ equipoClas.puntos }}</span></td>

                                    <td>
                                        {% if app.user is not empty %}
                                            {% if app.user.rol is not empty %}
                                                {% if app.user.rol == ['ROLE_ADMIN'] or app.user.rol == ['ROLE_COLABORATOR']  %}
                                                    <div class="dropdown" >
                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                            <span class="caret"></span></button>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="{{ path('clasificacion_edit', {id: equipoClas.Id}) }}">
                                                                    Editar
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="{{ path('clasificacion_delete', {id: equipoClas.Id}) }}">
                                                                    Borrar
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <td class="up">
                    <i class="fa fa-caret-up" aria-hidden="true"></i>Sube<span class="team"></span>
                </td>
                <td class="down">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>Baja<span class="team"></span>
                </td>
                <td>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>Se mantiene<span class="team"></span>
                </td>
            </div>
        </div>
    </div>
</section>

<!--STANDING TABLE WRAP END-->

{% include 'pagina/partials/footer.twig' %}

<script type="text/javascript" src="{{ asset('assets/js/library/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/jquery.sticky.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/jquery.jcarousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/jcarousel.connected-carousels.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/owl.carousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/progressbar.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/jquery.bracket.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/chartist.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/Chart.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/fancySelect.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/isotope.pkgd.js') }}"></script>
<script type="text/javascript" src=" {{ asset('assets/js/library/imagesloaded.pkgd.js') }}"></script>

<script type="text/javascript" src="{{ asset('assets/js/jquery.team-coundown.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/matches-slider.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/header.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/matches_broadcast_listing.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/news-line.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/match_galery.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/main-club-gallery.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/product-slider.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/circle-bar.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/standings.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/shop-price-filter.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/timeseries.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/radar.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/slider.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/preloader.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/diagram.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/bi-polar-diagram.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/label-placement-diagram.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/donut-chart.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/animate-donut.js') }}"></script>

<script type="text/javascript" src="{{ asset('assets/js/advanced-smil.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/svg-path.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/pick-circle.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/horizontal-bar.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/gauge-chart.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/stacked-bar.js') }}"></script>




<script type="text/javascript" src="{{ asset('assets/js/library/chartist-plugin-legend.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/chartist-plugin-threshold.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/chartist-plugin-pointlabels.js') }}"></script>

<script type="text/javascript" src="{{ asset('assets/js/treshold.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/visible.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/anchor.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/landing_carousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/landing_sport_standings.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/twitterslider.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/champions.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/landing_mainnews_slider.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/carousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/video_slider.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/footer_slides.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/player_test.js') }}"></script>

<script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>

<script type="text/javascript" src="{{ asset('dev-assets/demo-switcher.js') }}"></script>
</body>


</html>
