<style>
    /*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

    footer {
        background: #FFD400;
        background: -webkit-linear-gradient(left, #4F4F4F, #7F7F7F, #393939);
        background: -o-linear-gradient(left, #4F4F4F, #7F7F7F, #393939);
        background: -moz-linear-gradient(left, #4F4F4F, #7F7F7F, #393939);
        background: linear-gradient(left, #4F4F4F, #7F7F7F, #393939);
    }

    #button-addon1 {
        color: #ffc371;
    }

    i {
        color: #ffc371;
    }

    .form-control::placeholder {
        font-size: 0.95rem;
        color: #aaa;
        font-style: italic;
    }

    .form-control.shadow-0:focus {
        box-shadow: none;
    }

</style>

<footer class="bg-white">
    <div class="container-fluid flex-grow-1 flex-shrink-0">
        <div class="px-lg-5">
            <div class="row py-5">
                <div class="col-lg-12 mx-auto text-white text-center">
                    <h1 class="display-4">Futbolistics</h1>

                </div>
            </div>
        </div>
    </div>
    <div class="container py-5" style=" padding-bottom: 70px">
        <div class="row py-4">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Nosotros</h6>
                <p class="font-italic text-muted" style="color: #f0f0ee">Nuestras redes sociales, para seguir la actualidad de nuestros equipos.</p>
                <ul class="list-inline mt-4">
                    <li class="list-inline-item"><a href="http://twitter.com/@futbolistics" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="http://facebook.com/futbolistics" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="http://instagram.com/futbolistics" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0" style="padding-right: 100px;">
                <h6 class="text-uppercase font-weight-bold mb-4">Contenido</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="{{ path('homepage') }}" class="text-muted" style="color: #f0f0ee">Home</a></li>
                    <li class="mb-2"><a href="{{ path('partidos_index') }}" class="text-muted" style="color: #f0f0ee">Partidos</a></li>
                    <li class="mb-2"><a href="{{ path('equipo_index') }}" class="text-muted" style="color: #f0f0ee">Equipos</a></li>
                    <li class="mb-2"><a href="{{ path('clasificacion_index') }}" class="text-muted" style="color: #f0f0ee">Clasificaciones</a></li>
                    <li class="mb-2"><a href="{{ path('noticia_index') }}" class="text-muted" style="color: #f0f0ee">Noticias</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0" style="padding-left: 120px">
                <h6 class="text-uppercase font-weight-bold mb-4">Acceso</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2" style="color: #f0f0ee"><a href="{{ path('login') }}" class="text-muted" style="color: #f0f0ee">Login</a></li>
                    <li class="mb-2" style="color: #f0f0ee"><a href="{{ path('app_register') }}" class="text-muted" style="color: #f0f0ee">Registro</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-lg-0" style="padding-left: 170px">
                <h6 class="text-uppercase font-weight-bold mb-4">Contacto</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2" style="color: #f0f0ee"><a href="{{ path('contact') }}" class="text-muted" style="color: #f0f0ee">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-4">
        <div class="container text-center">
            <p class="text-muted mb-0 py-2" style="color: #f0f0ee; font-size: 12px">© 2020 Futbolistics Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
<!-- End -->

</body>