<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Partidos</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans:700,400%7CRaleway:400,800,900" rel="stylesheet" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="{{ asset('assets/css/library/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/dev-assets/preloader-default.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/dev-assets/demo-switcher.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css-min/soccer.min.css') }}" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="preloader-wrapper" id="preloader">
    <div class="motion-line dark-big"></div>
    <div class="motion-line yellow-big"></div>
    <div class="motion-line dark-small"></div>
    <div class="motion-line yellow-normal"></div>
    <div class="motion-line yellow-small1"></div>
    <div class="motion-line yellow-small2"></div>
</div>


{% include 'pagina/partials/header.twig' %}

<!--MAIN MENU WRAP END-->


<!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <ul class="breadcrumbs">
                            <li><a href="index-2.html">Home</a>/</li>
                            <li>Category</li>
                        </ul>
                        <h1>Category</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->
<!--MAIN MATCH SHEDULE BEGIN-->
<section class="main-match-shedule amateurs-match-shedule">
    <div class="container">
        <div class="row">
            {% for liga in ligas %}
                <div class="col-md-12 col-sm-12 col-xs-12"><h5>{{ liga.nombre }}</h5></div>
            {% endfor %}
            <div class="col-md-10 col-sm-9 col-xs-9">
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="tab-filters" role="tablist">
                    <li class="active"><a href="#premierleague" role="tab" data-toggle="tab" aria-expanded="true">Liga</a></li>
                </ul>
                <form action=" {{ path('partidos_index') }}" name="search_form" method="GET">
                    <select name="jornada">
                        {% for jornada in jornadas %}
                            <option value="{{ jornada.Id }}">{{ jornada.Jornada }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" name="search" value="Filtrar">
                </form>
                <br>
                <div class="tab-content">
                    <div class="tab-pane active" id="all">
                        <div class="amateurs-main-match">
                            <div class="title">{{ jornada.partidoEstrella.fecha|date("d/m/Y") }}</div>
                            <a href="{{ path('partidos_byId', {id: jornada.partidoEstrella.Id}) }}" class="team">
                                <span class="image"><img src="{{ asset('assets/images/escudos/')}}{{ jornada.partidoEstrella.equipoLocal.fotoPerfil }}" alt="main-match"></span>
                                <span class="info">
                    <span class="name">{{ jornada.partidoEstrella.equipoLocal.nombre }}</span>
                </span>
                            </a>
                            <div class="score">
                                <span>{{ jornada.partidoEstrella.golesLocal }} : {{ jornada.partidoEstrella.golesVisitante }}</span>
                            </div>
                            <a href="{{ path('partidos_byId', {id: jornada.partidoEstrella.Id}) }}" class="team guest">
                <span class="info">
                    <span class="name">{{ jornada.partidoEstrella.equipoVisitante.nombre }}</span>
                </span>
                                <span class="image"><img src="{{ asset('assets/images/escudos/')}}{{ jornada.partidoEstrella.equipoVisitante.fotoPerfil }}" alt="main-match"></span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12"><h6>{{ jornada.jornada }}</h6>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% for partido in partidos %}
            {% if app.user is not empty %}
                {% if app.user.rol is not empty %}
                    {% if app.user.rol == 'ROLE_ADMIN' or app.user.rol == 'ROLE_COLABORATOR'  %}
                        <div class="dropdown" style="float: right; z-index: 3; text-align: right">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="font-size: 5px">
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('partido_edit', {id: partido.Id}) }}">
                                        Editar
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('partido_delete', {id: partido.Id}) }}">
                                        Borrar
                                    </a>
                                </li>
                            </ul>
                        </div>
                        </a>
                    {% endif %}
                {% endif %}
            {% endif %}
            <br>
            <div class="main-lates-matches">
                    <a href="{{ path('partidos_byId', {id: partido.Id}) }}" class="item">
            <span class="teams-wrap">
                <span class="team">
                    <span>
                        <img src="{{ asset('assets/images/escudos/')}}{{ partido.equipoLocal.fotoPerfil }}" alt="team-image">
                    </span>
                    <span>{{ partido.equipoLocal.nombre }}</span>
                </span>
                <span class="score">
                    <span>{{ partido.golesLocal }} : {{ partido.golesVisitante }}</span>

                </span>
                <span class="team1">
                    <span>{{ partido.equipoVisitante.nombre }}</span>
                    <span><img src="{{ asset('assets/images/escudos/')}}{{ partido.equipoVisitante.fotoPerfil }}" alt="team-image"></span>
                </span>
            </span>
                    </a>
                    <br>
                {% endfor %}

            </div>
        </div>
        <div style="text-align: center; padding-top: 50px">
            <a class="btn btn-sm btn-primary" href="{{ path('jornada_pdf', {'id': jornada.Id}) }}"><i class="icon icon-eye"></i>Descargar jornada</a>
        </div>
    </div>
    </div>
</section>

<!--MAIN MATCH SHEDULE END-->

{% include 'pagina/partials/footer.twig' %}

<script type="text/javascript" src="{{ asset('assets/js/library/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/jquery.sticky.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/jquery.jcarousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/jcarousel.connected-carousels.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/owl.carousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/progressbar.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/jquery.bracket.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/chartist.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/Chart.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/fancySelect.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/isotope.pkgd.js') }}"></script>
<script type="text/javascript" src=" {{ asset('assets/js/library/imagesloaded.pkgd.js') }}"></script>

<script type="text/javascript" src="{{ asset('assets/js/jquery.team-coundown.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/matches-slider.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/header.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/matches_broadcast_listing.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/news-line.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/match_galery.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/main-club-gallery.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/product-slider.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/circle-bar.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/standings.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/shop-price-filter.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/timeseries.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/radar.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/slider.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/preloader.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/diagram.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/bi-polar-diagram.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/label-placement-diagram.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/donut-chart.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/animate-donut.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/advanced-smil.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/svg-path.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/pick-circle.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/horizontal-bar.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/gauge-chart.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/stacked-bar.js') }}"></script>

<script type="text/javascript" src="{{ asset('assets/js/library/chartist-plugin-legend.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/chartist-plugin-threshold.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/library/chartist-plugin-pointlabels.js') }}"></script>

<script type="text/javascript" src="{{ asset('assets/js/treshold.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/visible.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/anchor.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/landing_carousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/landing_sport_standings.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/twitterslider.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/champions.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/landing_mainnews_slider.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/carousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/video_slider.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/footer_slides.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/player_test.js') }}"></script>

<script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>

<script type="text/javascript" src="{{ asset('dev-assets/demo-switcher.js') }}"></script>
</body>


</html>
